


<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">Contacts
        <span class="pull-right">
          <button class="btn btn-success">New Contact</button>
        </span>
      </div>
      <div class="panel-body">
    <cms-contact-item 
    *ngFor="let contact of contacts"
    [contact]="contact"
    (click)="onSelected(contact)"
  >
  </cms-contact-item>
    </div>
  </div>
  </div>
</div>
