

<div class="row">
    <div class="col-xs-12">
      <form>
        <div class="row">
          <div class="col-sm-5 form-group">
              <div class="panel panel-default">
                  <div class="panel-heading clearfix">
                    <h1>{{contact.name}}</h1>           
                      <span class="pull-right btn-toolbar">
                          <button class="btn btn-primary">Edit</button>
                          <button class="btn btn-danger">Delete</button>
                        </span>
                    </div>
                    <div class="panel-body">

                      <label for="email">{{contact.email}}</label>
                      <br>
                      <label for="phone">{{contact.phone}}</label>
                    </div>
                    </div>
            
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
           
          </div>
        </div>
      </form>
    </div>
  </div>
