


<div class="row">
  <div class="col-md-5">
    <cms-contact-list
      (selectedContactEvent)= "selectedContact = $event">
    </cms-contact-list>
  </div>
  <div class="col-md-7">
      <cms-contacts-detail
        [contact]="selectedContact" *ngIf="selectedContact"></cms-contacts-detail>
        
      
  </div>
</div>

